@using BookWorld.Application.DTOs
@model List<OrderDto>

@{
    ViewData["Title"] = "Siparişlerim";
}

<div class="container mt-4">
    <h2 class="mb-3">🛒 Satın Aldıklarım</h2>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }

    @if (Model == null || !Model.Any())
    {
        <div class="alert alert-info">
            Henüz siparişiniz bulunmamaktadır.
        </div>
    }
    else
    {
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Sipariş No</th>
                    <th>Tarih</th>
                    <th>Durum</th>
                    <th>Toplam Tutar</th>
                    <th>Detay</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>
                            <span class="badge bg-success">@order.OrderDate.ToString("dd.MM.yyyy")</span>
                        </td>
                        @if (order.Status == "Created")
                        {
                            <td>Satın Alındı</td>
                        }
                        else
                        {
                            <td>Satın Alma sırasında Bir sorun yaşanmış.</td>
                        }
                        
                        
                        <td>@order.TotalAmount ₺</td>
                        <td>
                            <a asp-action="Details"
                               asp-route-id="@order.Id"
                               class="btn btn-sm btn-primary">
                                Detay
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>